<form method="post" action="{{ path('app_backoffice_organizer_delete', {'id': organizer.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression ? Ceci est irréversible');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organizer.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
