{% extends 'base.html.twig' %}

{% block title %}New Organizer{% endblock %}

{% block body %}
    <h1>Create new Organizer</h1>

    {{ include('backoffice/organizer/_form.html.twig') }}

    <a href="{{ path('app_backoffice_organizer_index') }}">back to list</a>
{% endblock %}
