{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel artiste</h1>

    {{ include('backoffice/artist/_form.html.twig') }}

    <a href="{{ path('app_backoffice_artist_index') }}">back to list</a>
{% endblock %}
